.bg-custom {
    background-color: #19929d;
}

.p-t-25 {
    padding-top: 25px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.status {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status.status-online {
    background-color: #b5de5d;
}

.status.status-offline {
    background-color: #c42626;
}