.bg-custom {
  background-color: #64a8eb;
}

ul.teamspeak {
  margin: 0;
  padding: 0;

  ul {
    margin-left: 0;
    padding-left: 20px;

    &.players {
      > li {
        &:before {
          float: left;
          font-family: 'FontAwesome';
          content: '\f2c0';
          margin-right: 5px;
        }
      }
    }
  }

  li {
    list-style-type: none;

    &:before {
      float: left;
      font-family: 'FontAwesome';
      content: '\f114';
      margin-right: 5px;
    }
  }
}